<div class='container'>
<div class='text-center'>
  <br>
  <h2>I don't ever take orders from trees!</h2>
  <br>
  <img src="https://i.imgur.com/oRg0v9I.png" class='gameImg'>
</div>
<br>
<p class='story'>
"Dang youre a dumb little human" The tree shaman responds. Then, with the force of a 500 year old sequoia he uses his branch arm to pierce through the entiriety of your abdomen, tearing through each of your vital organs and letting you feel all the visceral agony of complete physiological desecration. You bleed out on his roots feeding his life energy, and withering into the compostable forest floor.
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/" class="btn-lg start" type='button'>You're dead the sucks</a>
</div>
