<div class='container'>
<div class='text-center'>
  <br>
  <h2>MAKE YOUR MOVE ON THE TREE SHAMAN</h2>
  <br>
  <img src="https://i.imgur.com/U8KcePE.png" class='gameImg'>
</div>
<br>
<p class='story'>
  You're getting the hints that tree shaman is putting down so you make your move, and lo and behold you get dissed and dismissed. If you studied ancient mythology for 2 seconds you would realize the tree shamans are in fact asexual, and reproduce only with themselves, and only after the tree has experienced its 1000th year rites of passage, by making an advance on this tree you've insinuated that he is a weak and unrighteous tree. He is offended and bludgeons you to death with his roots until you die of blunt force trauma and embarassment. Nobody comes to your funeral out of respect for the tree shaman that you disgraced
</div>
<br>
<div class='text-center'>
<a routerLink="/" class="btn-lg start" type='button'>You're dead that sucks</a>


</div>
