<div class='container'>
<div class='text-center'>
  <br>
  <h2>YALL CANT CONTROL ME!</h2>
  <br>
  <img src="https://i.imgur.com/KStWanj.png" class='gameImg'>
</div>
<br>
<p class='story'>
You're a free wolf you make your own choices. And because the goblin birthing process is based off of whether or not the carrier of the goblins wants to keep the goblins the goblin embryos inside you never come to term and basically your interaction with the goblins was pointless. You go into the woods alones and with no goblins in your womb, and you meet two friends Ozzy Osbourne and Ozzy Osbourne. Two clones but they don't look alike and they also dont look like ozzy osbourne. One puts his arm around you the other stands behind you. Which one is your boyfriend?
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/free-wolf" class="btn-lg start" type='button'>The one behind you</a>
<a routerLink="/goblin-fam" class="btn-lg start" type='button'>the one with his arm around you</a>
</div>
