<div class='container'>
<div class='text-center'>
  <br>
  <h2>just don't kill me!</h2>
  <br>
  <img src="https://i.imgur.com/SNR7GX7.png" class='gameImg'>
</div>
<br>
<p class='story'>
You accept the tree shaman's request for help. You pretend to destroy your pipe-weed and you accept his advances to clean his roots. Come to think of it, you've never cleaned a tree's roots before, it might be kind of fun. "Ohohoho my young padawan, cleaning roots is the baby's gravy, why every young wanderer needs to clean an old trees roots at least once before they go on their journey, you'll love it." The real question is do you want to clean the roots with a brush or with a wash cloth?
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/brush" class="btn-lg start" type='button'>GRAB THE BRUSH</a>
<a routerLink="/wash-cloth" class="btn-lg start" type='button'>GRAB THE WASHCLOTH</a>


</div>
