<div class='container'>
<div class='text-center'>
  <br>
  <h2>STAY IN DELIRION</h2>
  <br>
  <img src="https://i.imgur.com/LfTjbMj.png" class='gameImg'>
</div>
<br>
<p class='story'>
You decide to see this panic attack through in your hometown. Maybe you can go down to the stream and grab a drink of water, and just you know figure your stuff out. But then all of a sudden a horde of goblins starts squealing and screeching at you and its hurts your ears. These are goblins at their finest, and they are the worst! "HEY YOU THERE!", the leader of the goblin gang calls out ," WHAT THE HELL ARE YOU DOING IN OUR HOMETOWN! WERE GONNA KILL YOU YOU SCUM!" he yells your direction. You feel the urge to speak...
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/goblin-good" class="btn-lg start" type='button'>"I'm a goblin too, you don't want to mess with me!"</a>
<a routerLink="/goblin-bad" class="btn-lg start" type='button'>"All goblins deserve to die!"</a>
</div>
