<div class='container'>
<div class='text-center'>
  <h2>a quest awaits</h2>
  <img src="https://i.imgur.com/MXSpZZi.png" class='gameImg'>
</div>
<br>
<p class='story'>
Your story begins in your hometown of Delirion, a quiet riverside community, home to goblins, trade-elves, demons, and warriors alike! Things are pretty cool today, the air smells nice, and everybody is saying 'hi' to each other on the street. The all-around feeling of satisfaction is troubling to you however. A general sense of panic fills your being. You want to throw up on the ground, or punch one of those trade-elves in the face. You feel downright horrible, and surely something needs to be done about this. ..
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/good-door" class="btn-lg start" type='button'>STAY IN DELIRION</a>
<a routerLink="/bad-door" class="btn-lg start" type='button'>LEAVE THIS HELLHOLE</a>
</div>
