<div class='text-center gblin'><img src="https://vignette.wikia.nocookie.net/runescape2/images/6/68/Cave_goblin_%28Nomad%27s_Elegy%29.png/revision/latest?cb=20160427152021" alt="" class='goblin'></div>

<div class="container">
  <div class="panel-body">
   <div>
     <div>
       <p>Why hello there! Shame on you scum! You nearly startled me out of my plaid britches. I was just watering these eggplants and you scared me. How unthoughtful of you. You deserve to die! But I digress... I am just a merchant after all, and you a weary traveler. Ill give you some goblin gold if you give me some information about yourself before proceeding. Trust me you'll need it. First things first!
       <label><h2>What is your name, scum?</h2></label>
       <br>
       <input #newName>
     </div>
    <a (click)="submitForm(newName.value);" class="btn-lg start" type='button'>IS MY NAME YOU GOBLIN FREAK!</a>
    <a routerLink="/game" class="btn-lg start" type='button'>START</a>
   </div>

</div>
