<div class='container'>
<div class='text-center'>
  <br>
  <h2>BRUSH!</h2>
  <br>
  <img src="https://i.imgur.com/TAWhOiZ.png" class='gameImg'>
</div>
<br>
<p class='story'>
  You slowly grab the brush and question what kind of choices led you here. You feel the pipe-weed kick in and take a look at the shaman's big souless eyes. His eyes remind you of your late great grandfather and emotions overcome you. You begin to cry as you rub the big old tree shaman, he enjoys it. The tree shaman throws his head back and screeches orgasmically. You know it's wrong but you seem to enjoy it too. You always felt this was what your grandfather would have wanted but never knew how to approach him.
</div>
<br>
<div class='text-center'>
<a routerLink="/tree-love" class="btn-lg start" type='button'>MAKE YOUR MOVE ON THE TREE SHAMAN</a>
<br>
<br>
<a routerLink="/tree-hate" class="btn-lg start" type='button'>STOP BRUSHING</a>


</div>
