<div class='container'>
<div class='text-center'>
  <br>
  <h2>GOBLIN FAMILY</h2>
  <br>
  <img src="https://i.imgur.com/nDanIBd.png" class='gameImg'>
</div>
<br>
<p class='story'>
In two minutes your womb starts to gurgle. These goblins are ready to come out. You give birth to 3 adorable goblin babies that the goblins all love, and they have your eyes, and also your sense of humor but also the goblins personalities and features as well because of goblin genetics and human genetics mixing. This is cool, you feel a surge of wholeness and at one with the universe and you want to stop making choices that end in your ultimate death, or just more choices but thats not what life is about and you feel the pull to do something incredible for once. The goblins are waiting for you to do something because this story and game is based on your agency and whether or not you make a decision. What are you going to do?
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/free-wolf" class="btn-lg start" type='button'>KILL YOURSELF IN FRONT OF THESE GOBLINS</a>
<a routerLink="/goblin-fam" class="btn-lg start" type='button'>GO INTO YOUR MIND INCEPTION STYLE</a>
</div>
