<div class='container'>
<div class='text-center'>
  <br>
  <h2>IM A GOBLIN TOO</h2>
  <br>
  <img src="https://i.imgur.com/tZh4KJw.png" class='gameImg'>
</div>
<br>
<p class='story'>
"Oh! Hellllllllls yeah!" says the lead goblin "Tonight! We mate with our new member! Hip hip hoooray! hip hip hooray! hip hip Hooooray!" The goblins yell. "We haven't had a male goblin to procreate with since before the great galleon crash on 1235. To put it bluntly we need to make goblin babies, and you look like a solid person to do it with, what do you say weary wanderer?" The goblins look at you with lustful yet kind eyes, you question your choice to show mercy to these ugly creatures.  Your respose awaits
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/goblin-love" class="btn-lg start" type='button'>"Sure lets do it, y'all are kind of cute"</a>
<br>
<br>
<a routerLink="/goblin-bad" class="btn-lg start" type='button'>"If you touch me I will cut your throats! All goblins deserve to die!"</a>
</div>
