<div class='container'>
<div class='text-center'>
  <br>
  <h2>ALL GOBLINS DESERVE TO DIE</h2>
  <br>
  <img src="https://i.imgur.com/QQpgUCK.png" class='gameImg'>
</div>
<br>
<p class='story'>
Your derogatory remark to the goblins is met with fury and passion. The lead goblin lunges at you with a snake and a stick of dynamite. He whips you with the snake and sticks the stick of dynamite in your mouth and you die from the explosion. The goblins cheer in favor of their gods and make wallets out of the left over debris from your exploded carcass. It's a sad day for you, but a super awesome day for these goblins, as you float into the air, a ghost of your former self, you weigh the options you were presented, and maybe a part of you feels happy for the goblins, as you begin to understand your role in the great myriad of life
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/" class="btn-lg start" type='button'>You're dead that sucks</a>

</div>
