<div class='container'>
<div class='text-center'>
  <br>
  <h2>WASH CLOTH!</h2>
  <br>
  <img src="https://i.imgur.com/gcBZ13W.png" class='gameImg'>
</div>
<br>
<p class='story'>
  You grab the stale old crusty wash cloth, you begin to ponder what this elderly tree shaman even used this for. Sprawled out on his back the tree shaman gestures to his trunks. "They're not gonna clean themselves." He mutters in his old groggy voice. With a loud and shimmering noise, the wash cloth turns into a gun, you point it at yourself, and POP, you're dead. Your conciousness fades into nothingness. You should've known that the wash cloth was a gun. This game is predicatable, and you failed. You learned a lesson though, from now on in this game wash-cloth = gun, you only have to learn this lesson once.
</div>
<br>
<div class='text-center'>
<a routerLink="/" class="btn-lg start" type='button'>You're dead that sucks</a>


</div>
