<div class='container'>
<div class='text-center'>
  <br>
  <h2>PURPLESTONE!</h2>
  <br>
  <img src="https://i.imgur.com/tTGPGT4.png" class='gameImg'>
</div>
<br>
<p class='story'>
You grab the purple stone from John Stamos/ Uncle Jesse. The purple stone turns into a dancing rock god, hes dancing and moving and everyones digging it. Imagine the sickest most classical rock solo coming from a crystal orb, thats what everyone is experiencing right now. Its cool, it's freakin' sick baby. This games not about dancing though, it's about making choices. one of two choices. John stamos hands you a gun, you now have to choose whether or not to kill the dancing purple stone god. If you kill him, you and john stamos are friends forever, but if you don't you might I don't know, this games loaded like the gun in your hand, and its a slow burn, but you have to make decisions quick because there is a timer in the background of this game and when it goes off all your computer files get deleted.
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/free-wolf" class="btn-lg start" type='button'>MURDER THE DANCING MAN</a>
<a href="https://www.youtube.com/watch?v=09xO4QmK7eY" class="btn-lg start" type='button'>LET YOUR COMPUTER FILES GET DELETED</a>
</div>
