h2 {
  color: yellow;
  font-weight: bold;
  text-shadow: 2px 2px red;
}

.container {
  background-color: black;
  width:100em;
  height: 50em;
}

.gameImg {
  width: 20em;
  height: 30em;
}

.story {
  color: white;
}
