<div class='container'>
<div class='text-center'>
  <br>
  <h2>SURE LETS DO IT</h2>
  <br>
  <img src="https://i.imgur.com/sQhAWGz.png" class='gameImg'>
</div>
<br>
<p class='story'>
You're a risk-taker by nature, but these goblins take care of you in ways that you never thought possible. Their intimate spontaniety is admirable, as you feel yourself literally and figuratively impregnated by their ephervescent goblin seed. "The deed has been done" the lead goblin says. "Goblin gestation period is 2 minutes, will you please stay with our crew for the birth?"
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/goblin-good" class="btn-lg start" type='button'>"I'm a free wolf, y'all can't control me"</a>
<a routerLink="/goblin-bad" class="btn-lg start" type='button'>"Sure, these goblins need good role models in their life"</a>
</div>
