<div class="container">

<p>
  Welcome Scum! An adventure you are about to embark on. Dragons, robots, and laser shooting dweebuses descend on you from all corners. Your eyes may fall out of your skull, softened by the sheer density of the stories that we present to you. Nothing is more important in your fleeting existence then the next few hours you are about to spend in this world, built for you, by you, and by others who have blazed and pioneered the very same path which you are about to trod. Trod on my little dweebus, and kick some butt for Daddy.
</p>
<marquee direction="right"><img src="http://i.imgur.com/MqUxG9M.gif" alt=""></marquee>
</div>
<br>
<a routerLink="merchant" class="btn-lg start" type='button'>START</a>
