<div class='container'>
<div class='text-center'>
  <br>
  <h2>LEAVE THIS HELLHOLE</h2>
  <br>
  <img src="https://i.imgur.com/iRsmm0U.png" class='gameImg'>
</div>
<br>
<p class='story'>
You decide to get the hell out of Delirion. You wander the forest and pull some pipe-weed out of your satchel, smoking and blowing smoke rings into the air as you chill out in this awesome medieval fantasy forest. "WHOOOOOOOOAAAAAAAAAAAA" you hear a voice, the roots rumble beneath you as you realize you've awoken a might tree shaman. "YOU screwed with the wrong tree my young padawan", he bellows. You nearly pee yourself, but hold back because you don't need to pee, and you haven't drinken water in a while. "Now you owe me a tree favor, and tree favors are 40 times more intense than human favors", he laughs at you. "I don't take kindly to punks taking drugs in my forest, so first I'm going to need to destroy the rest of your pipe-weed, and next your going to have to clean my roots!". Your response awaits
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/tree-good" class="btn-lg start" type='button'>"I don't ever take orders from trees, screw you, you're nothing but paper material!"</a>
<br>
<br>
<a routerLink="/tree-bad" class="btn-lg start" type='button'>"Okay okay okay I will do whatever you want, just don't kill me"</a>
</div>
