<div class='container'>
<div class='text-center'>
  <br>
  <h2>STOP BRUSHING</h2>
  <br>
  <img src="https://i.imgur.com/m6xTPwC.png" class='gameImg'>
</div>
<br>
<p class='story'>
  You stop brushing the tree and the tree shaman explodes and turns into a super cool looking Uncle Jesse from Full House. "Haaaave mercy" he says "You've broken the tree witches curse!". Apparently this specific tree shaman wasnt a tree shaman at all and in fact was John Stamos as Uncle Jesse turned into a tree shaman by a tree witch and by brushing his roots you broke the curse which he just explained to you. "I owe you something but it can only be one of two things so choose wisely because I'm pretty sure if you don't you'll die or something. Do a diddy diddy dum diddy doo brother" the uncle jesse says as he presents to you a wash cloth and a purple stone.
</div>
<br>
<div class='text-center'>
<a routerLink="/wash-cloth" class="btn-lg start" type='button'>GRAB THE WASH CLOTH!</a>
<a routerLink="/purple-stone" class="btn-lg start" type='button'>GRAB THE PURPLE STONE!</a>


</div>
