<div class='container'>
<div class='text-center'>
  <br>
  <h2>KILL THE PURPLE GOD</h2>
  <br>
  <img src="https://i.imgur.com/VIj4N6P.png" class='gameImg'>
</div>
<br>
<p class='story'>
You did it you killed the Purple god and you showed John Stamos that yo can make it through even the toughest of fantastical decisions. The world gods hold an awards ceremony for you and give you a trophy. Why is this adventure connected to a fire base? Did we ever manage to pull data from our database. Why did we take your name in the beginning. Are we going to answer these questions? Hell no! Everywhere you look theres a heart, and if you look at your chest in the mirror you could imagine your own heart beating in congratulatory fashion for yourself because you did it. The challenge is over, turn off your computer remember to sign off of your epicenters and push all your files to github.
</p>
</div>
<br>
<div class='text-center'>
<a routerLink="/" class="btn-lg start" type='button'>LETS DO IT AGAIN!</a>

</div>
